*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

$main_color:#ba024a;


nav{
    height: 10vh;
    display: flex;
    justify-content: space-around;
    background-color: #fff;

    // Logo Container
    div:first-of-type{
        flex-grow: 2;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        font-size: 3em;
        padding: 0.5em 2em;
        text-transform: uppercase;
        position: relative;
        
        img{
            position: absolute;
            left: 32.5%;
            width: 1vw;
            height: 2vh;
            top: 49%;
        }
    }

    ul{
        flex-grow: 1;
        display: flex;
        justify-content: space-around;
        align-items: center;

        li{
            list-style: none;
            padding: .5em 1em;
            border-radius: 20px;
            transition: all .15s linear;

            &:not(:last-child):hover{
                background: #000;

                &:not(:last-child):hover a {
                    color: white;
                }
            }
            
            &:last-child{
                background-color:$main_color;
                padding: .5em 3em;
                outline: 1px solid transparent;
                
                &:hover{
                    background-color: #000;
                }

                &:hover a{
                    color: lighten($main_color,40%);
                }
                
                a{
                    color: white;
                    transition: all .25s linear;
                }
            }
            
            a{
                color: black;
                text-decoration: none;
                font-size: 1.2em;  
                transition: all .5s linear;
            }
        }
    }
    
    .socials{
        flex-grow: 1;
        display: flex;
        justify-content: space-around;
        align-items: center;

        a:hover{
            transform: scale(1.1);
            transition: transform .15s linear;
        }

        i{
            color: $main_color;
            font-size: 1.25em;
        }
    }
    
    .card_container{
        flex-grow: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        i{
            font-size: 1.25em;
        }
    }
}


section{
    width: 98%;
    margin: 0 auto;
    height: 89vh;
    background:url("../Images/bg-image-5.jpg");
    background-size:cover;
    background-position: center 100%;
    filter: contrast(95%) brightness(95%);
    animation: move_bg 60s alternate-reverse linear infinite, contrast 15s alternate-reverse linear infinite;
    
}


@keyframes move_bg{
    100%{
        background-position: center 10%;
    }
}

@keyframes contrast{
    100%{
        filter: contrast(125%) brightness(100%);
    }
}