*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

$main_color:#ba024a;


nav{
    height: 10vh;
    display: flex;
    justify-content: space-around;
    background-color: #fff;

    div:first-of-type{
        flex-grow: 2;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        font-size: 3em;
        padding: 0.5em 2em;
        text-transform: uppercase;
    }

    ul{
        flex-grow: 1;
        display: flex;
        justify-content: space-around;
        align-items: center;

        li{
            list-style: none;
            padding: .5em 1em;
            
            &:last-child{
                background-color:$main_color;
                border-radius: 20px;
                padding: .5em 3em;

                a{
                    color: white;
                }
            }
            
            a{
                color: black;
                text-decoration: none;
                font-size: 1.2em;  
            }
        }
    }
    
    .socials{
        flex-grow: 1;
        display: flex;
        justify-content: space-around;
        align-items: center;

        i{
            color: $main_color;
            font-size: 1.25em;
        }
    }
    
    .card_container{
        flex-grow: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        i{
            font-size: 1.25em;
        }
    }
}


section{
    width: 98%;
    margin: 0 auto;
    height: 87.5vh;
    background:url("../Images/bg-image.jpg");
    background-size:cover;
    background-position: 100%;
    filter: contrast(95%) brightness(95%);
}
